{%extends "ToDoBundle::base.html.twig"%}
{% block title %} Nesto {%endblock%}


{% block body %}

    <h1> Edit page</h1>
    {{ form_start(form)}}
    {{ form_row(form.name) }}
    {{ form_row(form.due_date) }}
    {{ form_row(form.location) }}
    {{ form_row(form.created) }}
    {{ form_end(form) }}
{% endblock %}